@import "src/shared/styles/mixins";

.container {
  @extend %absolute-to-center;
  @include display-flex;
  min-width: 360px;
  min-height: 264px;

  .title {
    @include display-flex($gap: 4px);
  }

  form {
    width: 100%;

    .ant-form-item {
      margin-bottom: 16px;
    }
  }

  .submit {
    width: 100%;
  }
}