@use '@/shared/styles/variables' as variables;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuContainer {
  display: flex;
  gap: variables.$gap-l;
  align-items: center;
}

.menu {
  display: flex;
  gap: variables.$gap-m;
}

.actionButtons {
  align-items: center;
  display: flex;
  gap: variables.$gap-s;
}