@use '@/shared/styles/variables' as v;

.main {
  max-width: 1216px;
  padding-top: v.$size-m;
  margin-left: auto;
  margin-right: auto;
}

.eventContainer {
  display: flex;
  justify-content: flex-start;
  gap: v.$size-l;
  flex-wrap: wrap;
}