@import "src/shared/styles/mixins";

.container {
  @extend %absolute-to-center;
  @include display-flex;
  min-width: 360px;
  min-height: 392px;

  .title {
    margin: 0;
  }

  form {
    width: 100%;
  }

  .submit {
    width: 100% !important;
  }
}