.datePickerContainer {
  position: relative;
}

.ghostDatePicker {
  width: 100%;
  & input {
    text-align: center;
  }
}

.datePickerPopoverContent {
  width: 700px;
  height: 410px;
}

.datePickerContainer .ant-picker {
  width: 100%;
}

@media screen and (max-width: 760px) {
  .datePickerPopoverContent {
    max-width: 100vw !important;
    width: 350px;
    height: 770px;
  }
}